.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.IndustryItem{
    margin-left: 2rem;
    width: 75%;
}
.column{
    display: flex;
    justify-content: center;
}
.industryInfo{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 1rem;
    font-weight: 900;
}
.industryInfo h1{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
}
.industryInfo h2{
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 1rem;
}
.industryInfo h3{
    float: right;
    font-size: 1.2rem;
    font-weight: 300;
}
.details{
    margin-left: 2rem;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.logo{
    margin-top: 2.5rem;
}
ul li{
    list-style-type: square;
    margin-top: 0.3rem;
}

@media (max-width:930px) {
    .IndustryItem{
       margin-left: 0rem;
        width: 90%;
    }
    .industryInfo h1{
        font-size: 1.3rem;
        font-weight: 500;
    }
    .industryInfo h2{
        font-size: 1.3rem;
        font-weight: 500;
    }
    .industryInfo h3{
        font-size: 1.1rem;
        font-weight: 300;
    }
    .details{
        margin-left: 2rem;
        font-size: 1rem;
        font-weight: 400;
    }
    ul li{
        list-style-type: square;
    }
    .logo{
        margin-top: 0rem;
    }
    .column{
        display: block;
        justify-content: center;
    }
}