.colleges {
	padding-top: 5rem;
	margin: 0rem auto;
	display: flex;
	width: 80%;
	align-items: center;
	justify-content: space-evenly;
	/* background-color: aqua; */
	font-family: "Barlow Condensed";
	/* background-color: aquamarine; */
}
.collegeList {
	display: flex;
	flex-wrap: wrap;
	/* background-color: aquamarine; */
	gap: 1rem;
	justify-content: center;
	margin: 2rem auto;
	width: 90%;
}

@media (max-width: 930px) {
	.colleges {
		margin: 0rem auto;
		flex-direction: column;
		width: 90%;
	}
}

@media (max-width:930px) {
    .app-content{
        margin-top: 4rem;
    }
    
}